*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

height:100vh;

overflow:hidden;

background:

radial-gradient(circle,#4b1250,#050008);

font-family:Poppins,sans-serif;

color:white;

display:flex;

justify-content:center;

align-items:center;

}



#fireworks{

position:absolute;

inset:0;

}



.final-container{

text-align:center;

position:relative;

z-index:2;

}



.gift{

font-size:150px;

cursor:pointer;

animation:

giftFloat 2s infinite;

filter:

drop-shadow(0 0 40px pink);

}



@keyframes giftFloat{


50%{

transform:translateY(-30px);

}


}



h1{

font-size:65px;

color:#ff9ccc;

text-shadow:

0 0 40px #ff2e88;

margin:30px;

}



#message{

font-size:25px;

}



#surprise{

margin-top:40px;

padding:40px;

width:700px;

max-width:90%;

background:

rgba(255,255,255,.1);

border-radius:30px;

backdrop-filter:blur(20px);

box-shadow:

0 0 50px #ff2e88;

}



#surprise h2{

color:#ff9ccc;

margin-bottom:20px;

font-size:35px;

}



#surprise p{

font-size:22px;

line-height:2;

}



.hidden{

display:none;

}