*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;

overflow:hidden;

font-family:Poppins,sans-serif;

background:black;

color:white;

display:flex;

justify-content:center;

align-items:center;

}



/* Galaxy */

.space{

position:absolute;

inset:0;

background:

radial-gradient(circle at center,
#35104f,
#090016,
black);

}



/* Portal content */

.portal{

position:relative;

text-align:center;

z-index:2;

animation:appear 2s ease;

}



.glow-heart{

font-size:120px;

animation:

heartbeat 1.5s infinite;

filter:

drop-shadow(
0 0 40px #ff2e88
);

}



h1{

font-size:55px;

margin:30px 0;

color:#ff8fc7;

text-shadow:

0 0 20px #ff2e88;

}



p{

font-size:22px;

margin-bottom:50px;

color:#ddd;

}



button{

padding:20px 60px;

border:none;

border-radius:50px;

font-size:22px;

cursor:pointer;

background:#ff2e88;

color:white;

box-shadow:

0 0 40px #ff2e88;

transition:.4s;

}



button:hover{

transform:scale(1.1);

}



/* Animations */


@keyframes heartbeat{


0%,100%{

transform:scale(1);

}


50%{

transform:scale(1.2);

}


}



@keyframes appear{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}
@keyframes fade{

from{

opacity:1;

}


to{

opacity:0;

}

}
/* ==========================
   SPACE TRAVEL EFFECT
========================== */


.travel .space{

animation:

spaceTravel 3s forwards;

}



.travel .portal{

animation:

portalDisappear 3s forwards;

}




@keyframes spaceTravel{


0%{

transform:scale(1);

opacity:1;

}


100%{

transform:scale(8);

opacity:0;

}


}



@keyframes portalDisappear{


0%{

opacity:1;

}


100%{

opacity:0;

transform:scale(.2);

}

}
#travel-stars{

position:absolute;

inset:0;

background:

radial-gradient(circle,
white 2px,
transparent 3px);

background-size:

80px 80px;


animation:

starMove 2s linear infinite;

}



@keyframes starMove{


from{

transform:

scale(1)
translateY(0);

}


to{

transform:

scale(3)
translateY(300px);

}


}