*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    min-height:100vh;

    overflow-y:auto;

    font-family:Poppins,sans-serif;

    background:#080010;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px 15px;

}



.background{

    position:fixed;

    inset:0;

    background:
    radial-gradient(circle,
    #52134f,
    #080010);

    z-index:0;

}



/* LETTER */

.letter-container{

    position:relative;

    text-align:center;

    z-index:2;

    width:100%;

}



.paper{


    width:700px;

    max-width:95%;


    padding:50px;


    background:

    rgba(255,255,255,.12);


    border-radius:30px;


    backdrop-filter:blur(20px);


    border:

    1px solid rgba(255,255,255,.3);


    box-shadow:

    0 0 60px rgba(255,100,180,.5);


    animation:

    paperGlow 3s infinite alternate;


}



@keyframes paperGlow{


from{

box-shadow:

0 0 30px rgba(255,100,180,.3);

}


to{

box-shadow:

0 0 70px rgba(255,100,180,.8);

}

}




h1{

    font-size:45px;

    color:#ff9ccc;

    margin-bottom:40px;

}



#letterText{

    font-family:cursive;

    font-size:25px;

    line-height:2;

    text-align:left;

    color:white;

    white-space:pre-line;

}



/* BUTTON */

button{

    margin-top:40px;

    padding:18px 45px;

    border:none;

    border-radius:50px;

    background:#ff2e88;

    color:white;

    font-size:20px;

    cursor:pointer;

    box-shadow:

    0 0 30px #ff2e88;

    position:relative;

    z-index:10;

}




/* TABLETS */

@media(max-width:768px){


    .paper{

        padding:30px 25px;

        width:95%;

    }


    h1{

        font-size:32px;

        margin-bottom:25px;

    }


    #letterText{

        font-size:18px;

        line-height:1.8;

    }


    button{

        width:90%;

        font-size:17px;

        padding:15px;

    }


}



/* SMALL PHONES */

@media(max-width:480px){


    body{

        align-items:flex-start;

        padding-top:20px;

    }


    .paper{

        padding:25px 18px;

        border-radius:20px;

    }


    h1{

        font-size:26px;

    }


    #letterText{

        font-size:16px;

        line-height:1.7;

    }


}