*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;

overflow:hidden;

font-family:Poppins,sans-serif;

background:#080010;

color:white;

display:flex;

justify-content:center;

align-items:center;

}



.background{

position:absolute;

inset:0;


background:

radial-gradient(circle,
#52134f,
#080010);

}



/* LETTER */

.letter-container{

position:relative;

text-align:center;

z-index:2;

}



.paper{


width:700px;

max-width:90vw;

min-height:500px;


padding:50px;


background:

rgba(255,255,255,.12);


border-radius:30px;


backdrop-filter:blur(20px);


border:

1px solid rgba(255,255,255,.3);


box-shadow:

0 0 60px rgba(255,100,180,.5);


animation:

paperGlow 3s infinite alternate;


}



@keyframes paperGlow{


from{

box-shadow:

0 0 30px rgba(255,100,180,.3);

}


to{

box-shadow:

0 0 70px rgba(255,100,180,.8);

}

}



h1{

font-size:45px;

color:#ff9ccc;

margin-bottom:40px;

}



#letterText{

font-family:cursive;

font-size:25px;

line-height:2;

text-align:left;

color:#fff;

}



button{

margin-top:40px;

padding:18px 45px;

border:none;

border-radius:50px;

background:#ff2e88;

color:white;

font-size:20px;

cursor:pointer;

box-shadow:

0 0 30px #ff2e88;

}