#musicControl{

position:fixed;

right:30px;

bottom:30px;


width:60px;

height:60px;


border-radius:50%;


border:none;


background:#ff2e88;


color:white;


font-size:25px;


cursor:pointer;


box-shadow:

0 0 30px #ff2e88;


z-index:999;


}